@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin,latin-ext);
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/base/_common.scss */
html, body {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'cafe';
  src: url("../fonts/cafe.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/cafe.eot?#iefix") format("embedded-opentype"), url("../fonts/cafe.woff") format("woff"), url("../fonts/cafe.ttf") format("truetype"), url("../fonts/cafe.svg#6865896284a8668b08462cc86badfa31") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Cardenio Modern';
  src: url("../fonts/Cardenio Modern Bold10_pl.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Cardenio Modern Bold10_pl.eot?#iefix") format("embedded-opentype"), url("../fonts/Cardenio Modern Bold10_pl.woff") format("woff"), url("../fonts/Cardenio Modern Bold10_pl.ttf") format("truetype"), url("../fonts/Cardenio Modern Bold10_pl.svg#1d99477424e13256b571c8eacdec7daf") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
}
/* BASE TYPOGRPHY */
/* These are the default styles for the Simple theme */
/* line 32, ../sass/typography.scss */
body {
  font-size: 13px;
  /* This overrides the browsers default font size */
  line-height: 20px;
  /* If you change the font-size make sure you change the line-height value as well - the usual ratio is around 1.5 (font-size x 1.5 = line-height) */
  margin-bottom: 20px;
  color: #333333;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

/* line 40, ../sass/typography.scss */
.f-caffe {
  font-family: 'cafe';
}

/* line 43, ../sass/typography.scss */
.f-cardenio {
  font-family: 'Cardenio Modern';
}

/* line 1, ../sass/components/_section.scss */
section {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

/* line 1, ../sass/components/_header.scss */
header {
  position: fixed;
  top: 0;
  left: 0;
}

/* line 1, ../sass/components/_footer.scss */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
}
