@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin,latin-ext);
@font-face {
  font-family: 'cafe';
  src: url("../fonts/cafe.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/cafe.eot?#iefix") format("embedded-opentype"), url("../fonts/cafe.woff") format("woff"), url("../fonts/cafe.ttf") format("truetype"), url("../fonts/cafe.svg#6865896284a8668b08462cc86badfa31") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Cardenio Modern';
  src: url("../fonts/Cardenio Modern Bold10_pl.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Cardenio Modern Bold10_pl.eot?#iefix") format("embedded-opentype"), url("../fonts/Cardenio Modern Bold10_pl.woff") format("woff"), url("../fonts/Cardenio Modern Bold10_pl.ttf") format("truetype"), url("../fonts/Cardenio Modern Bold10_pl.svg#1d99477424e13256b571c8eacdec7daf") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
}
/* BASE TYPOGRPHY */
/* These are the default styles for the Simple theme */
/* line 32, ../sass/typography.scss */
body {
  font-size: 13px;
  /* This overrides the browsers default font size */
  line-height: 20px;
  /* If you change the font-size make sure you change the line-height value as well - the usual ratio is around 1.5 (font-size x 1.5 = line-height) */
  margin-bottom: 20px;
  color: #333333;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

/* line 40, ../sass/typography.scss */
.f-caffe {
  font-family: 'cafe';
}

/* line 43, ../sass/typography.scss */
.f-cardenio {
  font-family: 'Cardenio Modern';
}
