@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin,latin-ext);
/* line 2, ../sass/typography.scss */
body, .typography {
  font-size: 13px;
  line-height: 1.5em;
  color: #000;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

/* line 9, ../sass/typography.scss */
.f-caffe {
  font-family: 'cafe';
}

/* line 12, ../sass/typography.scss */
.f-cardenio {
  font-family: 'Cardenio Modern';
}
