@font-face {
  font-family: 'cafe';
  src: url('cafe.eot'); /* IE9 Compat Modes */
  src: url('cafe.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('cafe.woff') format('woff'), /* Modern Browsers */
       url('cafe.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('cafe.svg#6865896284a8668b08462cc86badfa31') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Cardenio Modern';
  src: url('Cardenio Modern Bold10_pl.eot'); /* IE9 Compat Modes */
  src: url('Cardenio Modern Bold10_pl.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Cardenio Modern Bold10_pl.woff') format('woff'), /* Modern Browsers */
       url('Cardenio Modern Bold10_pl.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Cardenio Modern Bold10_pl.svg#1d99477424e13256b571c8eacdec7daf') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Penis';
  src: url('Penis_PL5.eot'); /* IE9 Compat Modes */
  src: url('Penis_PL5.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Penis_PL5.woff') format('woff'), /* Modern Browsers */
       url('Penis_PL5.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Penis_PL5.svg#6865896284a8668b08462cc86badfa31') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

